@import url('https://fonts.googleapis.com/css?family=Numans');


.header {
    display: flex;
    justify-content: center;
  }

.logo {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container {
    height: 100%;
    align-content: center;
}
