<div class="row">

  <div class="col-xl-3 col-md-6 mb-4" routerLink="/phones">
    <div class="card border-primary border-bottom-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Total Phones
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{phones.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" routerLink="/reviews">
    <div class="card border-secondary border-bottom-secondary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
              Total Reviews
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{reviews.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" routerLink="/users">
    <div class="card border-success border-bottom-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Total Registered Users
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-warning border-bottom-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Total Orders
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">N/A</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 col-md-6 mb-4 offset-3" data-toggle="modal" data-target="#updateActiveUsers">
    <div class="card border-info border-bottom-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Current Active Sessions
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{activeSessionsCounter}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-warning mb-4" data-toggle="modal" data-target="#updateActiveUsers">Update</button>
</div>

<app-bar-chart *ngIf="chartData.length == 3" [data]="chartData"
               [title]="'Components Distribution Graph'"></app-bar-chart>

<!-- Update Active Users Modal -->
<div class="modal fade" id="updateActiveUsers" tabindex="-1" role="dialog" aria-labelledby="updateActiveUsers"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Active Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
              <label for="activeSessions" class="col-form-label col-md-3">New Value:</label>
              <input type="number" class="form-control col-md-3" id="activeSessions" [defaultValue]="activeSessionsCounter" #inpActiveSessions/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                (click)="onUpdateActiveSessions(inpActiveSessions.valueAsNumber)"
                data-dismiss="modal">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
